---
import PageLayout from "@/layouts/Base";

const meta = {
  title: "Reading List",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">Reading list</h1>
    <p>Books currently reading</p>
    <ul class="list-inside list-disc">
      <li>
        <a
          href="https://www.feltrinellieditore.it/opera/comics-e-manga/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Comics e Manga: La storia del fumetto in dieci racconti", Angelo
          "Sommobuta" Cavallaro</a
        >
      </li>
      <li>
        <a
          href="https://blackie-edizioni.it/products/odissea-classici-liberati"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Odissea", Omero</a
        >
      </li>
    </ul>
    <p>Ongoing manga series currently reading</p>
    <ul class="list-inside list-disc">
      <li>
        <a
          href="https://myanimelist.net/manga/13/One_Piece/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"One Piece", Eiichiro Oda</a
        >
      </li>
      <li>
        <a
          href="https://myanimelist.net/manga/2/Berserk"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Berserk", Kentarou Miura et al.</a
        >
      </li>
      <li>
        <a
          href="https://myanimelist.net/manga/75989/Boku_no_Hero_Academia/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"My Hero Academia", Kouhei Horikoshi</a
        >
      </li>
      <li>
        <a
          href="https://myanimelist.net/manga/642/Vinland_Saga/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Vinland Saga", Makoto Yukimura</a
        >
      </li>
      <li>
        <a
          href="https://myanimelist.net/manga/131334/Sakamoto_Days/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Sakamoto Days", Suzuki Yuuto</a
        >
      </li>
      <li>
        <a
          href="https://myanimelist.net/manga/116000/Asadora/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Asadora!", Naoki Urasawa</a
        >
      </li>
    </ul>
    <p>Finished</p>
    <p>2024</p>
    <ul class="list-inside list-disc">
      <li>
        <a
          href="https://it.wikipedia.org/wiki/All_Star_Superman"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"All Star Superman", Grant Morrison & Frank Quitely</a
        >
      </li>
      <li>
        <a
          href="https://it.wikipedia.org/wiki/Watchmen"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Watchmen", Alan Moore & Dave Gibbons
        </a>
      </li>
      <li>
        <a
          href="https://www.einaudi.it/catalogo-libri/problemi-contemporanei/io-khaled-vendo-uomini-e-sono-innocente-francesca-mannocchi-9788806240905"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Io Khaled vendo uomini e sono innocente", Francesca Mannocchi</a
        >
      </li>
      <li>
        <a
          href="https://it.wikipedia.org/wiki/Confessioni_di_una_maschera/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Confessioni di una maschera", Yukio Mishima</a
        >
      </li>
      <li>
        <a
          href="https://www.mondadori.it/libri/frontiera-francesco-costa/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Frontiera", Francesco Costa</a
        >
      </li>
      <li>
        <a
          href="https://www.skira.net/books/un-tedesco-contro-hitler/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Un tedesco contro Hitler", Sebastian Haffner</a
        >
      </li>
      <li>
        <a
          href="https://it.wikipedia.org/wiki/Non_%C3%A8_un_paese_per_vecchi"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Non e' un paese per vecchi", Cormac McCarthy</a
        >
      </li>
      <li>
        <a
          href="https://www.adelphi.it/libro/9788845937576"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"V13", Emmanuel Carrère</a
        >
      </li>
      <li>
        <a
          href="https://it.wikipedia.org/wiki/Il_giovane_Holden"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Il giovane Holden", J. D. Salinger</a
        >
      </li>
      <li>
        <a
          href="https://en.wikipedia.org/wiki/At_the_Existentialist_Caf%C3%A9/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"At the Existentialist Café", Sarah Bakewell</a
        >
      </li>
    </ul>

    <p>2023</p>
    <ul class="list-inside list-disc">
      <li>
        <a
          href="https://myanimelist.net/manga/664/Akira"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Akira", Katsuhiro Otomo</a
        >
      </li>
      <li>
        <a
          href="https://myanimelist.net/manga/1461/Sanctuary"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Sanctuary", Sho Fumimura & Ryoichi Ikegami</a
        >
      </li>
      <li>
        <a
          href="https://www.utetlibri.it/libri/catalogo-dei-santi-ribelli/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Catalogo dei santi ribelli", Leonardo Tondelli</a
        >
      </li>
      <li>
        <a
          href="https://it.wikipedia.org/wiki/Neve_di_primavera"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Neve di primavera", Yukio Mishima</a
        >
      </li>
      <li>
        <a
          href="https://www.adelphi.it/libro/9788845929250"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Sette brevi lezioni di fisica", Carlo Rovelli</a
        >
      </li>
      <li>
        <a
          href="https://it.wikipedia.org/wiki/La_strada_(romanzo)"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"La strada", Cormac McCarthy</a
        >
      </li>
      <li>
        <a
          href="https://myanimelist.net/manga/23390/Shingeki_no_Kyojin"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Attack on Titan", Hajime Isayama</a
        >
      </li>
      <li>
        <a
          href="https://www.vallardi.it/catalogo/scheda/thats-politica-libro.html"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"That's Politica!", Chiara Albanese</a
        >
      </li>
      <li>
        <a
          href="https://myanimelist.net/manga/4632/Oyasumi_Punpun"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Goodnight Punpun", Inio Asano</a
        >
      </li>
      <li>
        <a
          href="https://bur.rizzolilibri.it/libri/sei-cappelli-per-pensare-best/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Sei cappelli per pensare", Edward De Bono</a
        >
      </li>
      <li>
        <a
          href="https://it.wikipedia.org/wiki/Lolita_(romanzo)"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Lolita", Vladimir Nabokov</a
        >
      </li>
      <li>
        <a
          href="https://www.panini.it/shp_ita_it/20th-century-boys-ultimate-deluxe-edition-1-m2cbu001isbn-it08.html"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"20th Century Boys", Naoki Urasawa</a
        >
      </li>
      <li>
        <a
          href="https://it.wikipedia.org/wiki/Uno_zoo_d%27inverno"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Uno zoo d'inverno", Jirō Taniguchi</a
        >
      </li>
      <li>
        <a
          href="https://myanimelist.net/manga/1/Monster/"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Monster", Naoki Urasawa</a
        >
      </li>
      <li>
        <a
          href="https://www.giunti.it/catalogo/verde-brillante-9788809811096"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Verde brillante", Stefano Mancuso</a
        >
      </li>
      <li>
        <a
          href="https://en.wikipedia.org/wiki/Batman:_Year_One"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Batman: Year One", Frank Miller, David Mazzucchelli</a
        >
      </li>
      <li>
        <a
          href="https://www.laterza.it/scheda-libro/?isbn=9788842061564"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Homo Videns", Giovanni Sartori</a
        >
      </li>
      <li>
        <a
          href="https://www.amazon.it/Manuale-giovani-apicoltori-lapicoltura-spiegata/dp/B09TYLTVV6"
          class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
          >"Manuale per giovani apicoltori", Giancarlo Oldani</a
        >
      </li>
      <li>
        <a href="https://www.adelphi.it/libro/9788845933158"
          >"Altre menti. Il polpo, il mare e le remote origini della coscienza",
          Peter Godfrey-Smith</a
        >
      </li>
      <li>
        <a href="https://it.wikipedia.org/wiki/The_Climber_(manga)"
          >"The climber", Shin'ichi Sakamoto</a
        >
      </li>
    </ul>
    <p>2022</p>
    <ul class="list-inside list-disc">
      <li>
        <a href="https://en.wikipedia.org/wiki/How_Do_You_Live%3F_(novel)"
          >"How do you live?", Yoshino Genzaburō</a
        >
      </li>
      <li>
        <a href="https://it.wikipedia.org/wiki/La_caduta_(Camus)"
          >"La Caduta", Albert Camus</a
        >
      </li>
      <li>
        <a href="https://it.wikipedia.org/wiki/Il_maestro_e_Margherita"
          >"Il Maestro e Margherita", Michail Bulgakov</a
        >
      </li>
      <li>
        <a
          href="https://www.mondadori.it/libri/sotto-lo-stesso-cielo-giulia-pompili/"
          >"Sotto lo stesso cielo", Giulia Pompili</a
        >
      </li>
      <li>
        <a href="https://www.mondadori.it/libri/california-francesco-costa/"
          >"California", Francesco Costa</a
        >
      </li>
      <li>
        <a href="https://it.wikipedia.org/wiki/Steel_Ball_Run"
          >"Steel Ball Run", Hirohiko Araki</a
        >
      </li>
      <li>
        <a href="https://it.wikipedia.org/wiki/Stone_Ocean"
          >"Stone Ocean", Hirohiko Araki</a
        >
      </li>
      <li>
        <a
          href="https://www.salani.it/libri/il-colore-della-tempesta-9788831007481"
          >"Il colore della tempesta. Romanzo di un'impresa italiana", Nicolò
          Zuliani</a
        >
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Life_for_Sale"
          >"Vita in vendita", Yukio Mishima</a
        >
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Capitalist_Realism"
          >"Realismo Capitalista", Mark Fisher</a
        >
      </li>
      <li>
        <a
          href="https://it.wikipedia.org/wiki/Se_una_notte_d%27inverno_un_viaggiatore"
          >"Se una notte d'inverno un viaggiatore", Italo Calvino</a
        >
      </li>
      <li>
        <a href="https://it.wikipedia.org/wiki/La_banalit%C3%A0_del_male"
          >"La banalità del male", Hannah Arendt</a
        >
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Talking_to_Strangers"
          >"Talking to strangers", Malcolm Gladwell</a
        >
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Riding_Rockets"
          >"Riding Rockets", Mike Mullane</a
        >
      </li>
      <li>
        <a href="https://it.wikipedia.org/wiki/Piccole_donne"
          >"Piccole donne", Louisa May Alcott</a
        >
      </li>
      <li>
        <a href="https://it.wikipedia.org/wiki/L%27anello_di_Re_Salomone"
          >"L'anello di Re Salomone", Konrad Lorenz</a
        >
      </li>
      <li>
        <a href="https://it.wikipedia.org/wiki/Robinson_Crusoe"
          >"Robinson Crusoe", Daniel Defoe</a
        >
      </li>
      <li>
        <a href="https://it.wikipedia.org/wiki/Uno_studio_in_rosso"
          >"Uno studio in rosso", Arthur Conan Doyle</a
        >
      </li>
      <li>
        <a href="https://it.wikipedia.org/wiki/La_lettera_scarlatta"
          >"La lettera scarlatta", Nathaniel Hawthorne</a
        >
      </li>
      <li>
        <a href="https://rizzoli.rizzolilibri.it/libri/il-caso-olivetti//"
          >"Il caso Olivetti", Meryle Secrest</a
        >
      </li>
      <li>
        <a href="https://www.feltrinellieditore.it/opera/opera/buskashi-1-2/"
          >"Buskashì", Gino Strada</a
        >
      </li>
      <li>
        <a href="https://www.primolevi.it/en/tregua/">"La tregua", Primo Levi</a
        >
      </li>
      <li>
        <a href="https://it.wikipedia.org/wiki/La_peste_(romanzo)"
          >"La peste", Albert Camus</a
        >
      </li>
      <li>
        <a
          href="https://www.peoplepub.it/pagina-prodotto/genova-vent-anni-dopo/"
          >"Genova, vent'anni dopo", Giovanni Mari</a
        >
      </li>
      <li>
        <a href="https://myanimelist.net/manga/51/Slam_Dunk/"
          >"Slam Dunk", Takehiko Inoue</a
        >
      </li>
    </ul>
  </div>
</PageLayout>
